<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Index</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="~/Content/logo/favicon.png" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/linearicons.css" />
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/flaticon.css" />
    <link rel="stylesheet" href="~/Content/css/slick.css">
    <link rel="stylesheet" href="~/Content/css/slick-theme.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/bootsnav.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    @*<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="~/Content/logo/favicon.png" class="w-100 h-100" alt="Logo"/>
        </a>
        <div class="collapse navbar-collapse" id="navbarsExample06">
            <ul class="navbar-nav mr-auto">
                @foreach(var category in ViewBag.Categories) {
                    <li class="nav-item">
                        <a class="nav-link" href="#">@(ViewBag.Categories != null ? ViewBag.Categories.Name : "")</a>
                    </li>
                }
            </ul>
        </div>
    </nav>*@
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>
    <script src="~/Scripts/js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/bootsnav.js"></script>
    <script src="~/Scripts/js/feather.min.js"></script>
    <script src="~/Scripts/js/jquery.counterup.min.js"></script>
    <script src="~/Scripts/js/waypoints.min.js"></script>
    <script src="~/Scripts/js/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="~/Scripts/js/custom.js"></script>
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
</body>
</html>
